<DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content = "text/html; charset = UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title><%= title %></title>
        <style>.dropdown:hover .dropdown-menu { display: block; }</style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Rebel Tea Enterprise</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">COFFEE</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">SUBSCRIPTIONS</a></li>
                            <li><a href="#">BEANS</a></li>
                            <li><a href="#">WHOLESALE</a></li>
                            <li><a href="#">LOCATIONS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EDUCATION</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CLASSES</a></li>
                            <li><a href="#">BREW GUIDES</a></li>
                            <li><a href="#">ASK AN EXPERT</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT US</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">OUR STORY</a></li>
                            <li><a href="#">BLOGS</a></li>
                            <li><a href="#">AWARDS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GEAR</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">BREWING GEAR</a></li>
                            <li><a href="#">VIGILANTE GEAR</a></li>
                            <li><a href="#">GIFT SETS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MY ACCOUNT</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">SHOPPING CART</a></li>
                        </ul>
                    </li>
                </ul>
            </div>     
        </nav>
        
        <div class="container">
<!-- CONTENT START -->